body {
  margin: 0;
}
#Terminal {
  position: relative;
  contain: strict;
  width: 780px;
  height: 625px;
  background: black;
}
#CanvasText,
#CanvasCursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#CanvasCursor {
  opacity: 0.5;
}
